<h1>여기는 게시물 목록이 나오는 페이지입니다</h1>
<%= link_to '새 글 쓰기', {controller: :posts, action: :new} %> <br><br>


<% @posts.each do |post|%>
    <%=post.title%><br>
    <%=post.content%><br>
    <%=link_to '삭제', {controller: :posts, action: :destroy, post_id: post.id} %>
    
    <%=link_to '수정', {controller: :posts, action: :edit, post_id: post.id} %>
   
    
    <%= form_tag({controller: :comments, action: :create}) do %>
   
        
        <%= text_field_tag :content%>
        
        <%= submit_tag :'댓글달기' %>
    
    <% end %>
   
    
    <% post.comments.all.each do |comment|%>
    <%=comment.content%>
    
       <% link_to '삭제', {controller: :comments, action: :destroy} %>
  
           
    <% end %>
    ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ<br>
<% end %>
